
USE VitaminHouse
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 01/19/2021 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[CMND] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [CMND], [DiaChi], [SDT]) VALUES (N'NV00      ', N'Nguyễn Hoàng Vũ', N'285780444', N'Bình Phước', N'0967484823')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [CMND], [DiaChi], [SDT]) VALUES (N'NV01      ', N'Đỗ Duy Nhật Hoàng', N'225939716', N'Nha Trang', N'0975347732')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [CMND], [DiaChi], [SDT]) VALUES (N'NV02      ', N'Nguyễn Thành Luân', N'174847772', N'Đăk Nông', N'0989504257')
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 01/19/2021 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [nchar](10) NOT NULL,
	[TenNhaCungCap] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[LienHe] [nvarchar](100) NOT NULL,
	[SoTaiKhoan] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [LienHe], [SoTaiKhoan]) VALUES (N'NCC0000   ', N'Thực Phẩm Đại Thuận – DN Cổ Phần Đại Thuận', N'360D Bến Vân Đồn, Phường. 1, Q. 4, TP. Hồ Chí Minh', N'028 3945 0923', N'00000')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [LienHe], [SoTaiKhoan]) VALUES (N'NCC0001   ', N'DN Cổ Phần Thương Mại Dịch Vụ Sản Xuất Hương Thủy', N' C10, 39 Khu Nhà Ở Tại Phân Khu 18A, Đường Nguyễn Hữu Thọ, X. Phước Kiến, H. Nhà Bè,Tp. Hồ Chí Minh', N'028 3620 9955', N'00000')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [LienHe], [SoTaiKhoan]) VALUES (N'NCC0002   ', N'DN Cổ Phần Thương Mại Dịch Vụ Sản Xuất Vạn Thịnh Phú', N'Tầng 5, Thiên Sơn Plaza, 800 Nguyễn Văn Linh, Phường. Tân Phú, Q.. 7,Tp. Hồ Chí Minh', N'028 5417 8188', N'00000')

/****** Object:  Table [dbo].[KhachHang]    Script Date: 01/19/2021 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nchar](10) NOT NULL,
	[LienHe] [nvarchar](100) NULL,
	[TenDonVi] [nvarchar](100) NULL,
	[TheThanhVien] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [LienHe], [TenDonVi], [TheThanhVien]) VALUES (N'KH000     ', N'0979257819', N'Nguyễn Thị Diệu Linh', N'VIP')
INSERT [dbo].[KhachHang] ([MaKhachHang], [LienHe], [TenDonVi], [TheThanhVien]) VALUES (N'KH001     ', N'0352182791', N'Nguyễn Văn Long', N'VIP')
INSERT [dbo].[KhachHang] ([MaKhachHang], [LienHe], [TenDonVi], [TheThanhVien]) VALUES (N'KH002     ', N'0355875566', N'Lê Văn Quân', N'Thành viên')


/****** Object:  Table [dbo].[HinhNen]    Script Date: 01/19/2021 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhNen](
	[TenHinh] [nchar](10) NOT NULL,
	[HinhAnh] [image] NOT NULL,
 CONSTRAINT [PK_HinhNen] PRIMARY KEY CLUSTERED 
(
	[TenHinh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 01/19/2021 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[TenDangNhap] [nchar](30) NOT NULL,
	[MatKhau] [nchar](30) NOT NULL,
	[LoaiTaiKhoan] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DangNhap] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DangNhap] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'1', N'1', N'1')
INSERT [dbo].[DangNhap] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'Admin', N'1', N'Admin')
INSERT [dbo].[DangNhap] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'Thanh Luan', N'1', N'Nhân viên')
/****** Object:  Table [dbo].[ChuongKyGoi]    Script Date: 01/19/2021 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [nchar](10) NOT NULL,
	[MaNhanVien] [nchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[Thang] [nchar](10) NOT NULL,
	[Nam] [nchar](10) NOT NULL,
	[TangCa] [int] NOT NULL,
	[NghiLam] [int] NOT NULL,
	[LuongCung] [float] NOT NULL,
	[LuongNhan] [float] NOT NULL,
	[TienThuong] [float] NULL,
	[TienPhat] [float] NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [TenNhanVien], [Thang], [Nam], [TangCa], [NghiLam], [LuongCung], [LuongNhan], [TienThuong], [TienPhat]) VALUES (N'LNV0      ', N'NV00      ', N'Nguyễn Hoàng Vũ', N'1        ', N'2021     ', 3, 0, 1500000, 1800000, 300000, 0)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [TenNhanVien], [Thang], [Nam], [TangCa], [NghiLam], [LuongCung], [LuongNhan], [TienThuong], [TienPhat]) VALUES (N'LNV1      ', N'NV01      ', N'Đỗ Duy Nhật Hoàng', N'1        ', N'2021      ', 2, 1, 1500000, 1680000, 200000, 20000)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [TenNhanVien], [Thang], [Nam], [TangCa], [NghiLam], [LuongCung], [LuongNhan], [TienThuong], [TienPhat]) VALUES (N'LNV2      ', N'NV02      ', N'Nguyễn Thành Luân', N'1        ', N'2021    ', 1, 2, 1500000, 1560000, 100000, 40000)
/****** Object:  Table [dbo].[BanHangCombo]    Script Date: 01/19/2021 11:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanHangCombo](
	[MaBanHang] [nchar](10) NOT NULL,
	[NgayBanHang] [date] NOT NULL,
	[MaKhachHang] [nchar](10) NOT NULL,
	[MaNhanVien] [nchar](10) NOT NULL,
 CONSTRAINT [PK_BanHangCombo] PRIMARY KEY CLUSTERED 
(
	[MaBanHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BanHangCombo] ([MaBanHang], [NgayBanHang], [MaKhachHang], [MaNhanVien]) VALUES (N'PMH0000   ', CAST(GETDATE() AS DATE), N'KH001     ', N'NV01      ')
INSERT [dbo].[BanHangCombo] ([MaBanHang], [NgayBanHang], [MaKhachHang], [MaNhanVien]) VALUES (N'PMH0001   ', CAST(GETDATE() AS DATE), N'KH000     ', N'NV02      ')

/****** Object:  Table [dbo].[ThongTinKyGoi]    Script Date: 01/19/2021 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaNhap] [nchar](10) NOT NULL,
	[MaNhaCungCap] [nchar](10) NOT NULL,
	[NgayNhap] [date] NOT NULL,
 CONSTRAINT [PK_NhapKho] PRIMARY KEY CLUSTERED 
(
	[MaNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhapKho] ([MaNhap], [MaNhaCungCap], [NgayNhap]) VALUES (N'MN0000    ', N'NCC0002   ', CAST(GETDATE() AS DATE))
INSERT [dbo].[NhapKho] ([MaNhap], [MaNhaCungCap], [NgayNhap]) VALUES (N'MN0001    ', N'NCC0001   ', CAST(GETDATE() AS DATE))
INSERT [dbo].[NhapKho] ([MaNhap], [MaNhaCungCap], [NgayNhap]) VALUES (N'MN0002    ', N'NCC0003   ', CAST(GETDATE() AS DATE))
/****** Object:  Table [dbo].[ChiTietNhapKho]    Script Date: 01/19/2021 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapKho](
	[MaChiTietNhap] [nchar](10) NOT NULL,
	[GoiHang] [nvarchar](50) NOT NULL,
	[MaNhap] [nchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietNhapKho] PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [GoiHang], [MaNhap], [SoLuong], [GiaNhap]) VALUES (N'CTN0000   ', N'Bánh kẹo', N'MN0000    ', 2, 5000000)
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [GoiHang], [MaNhap], [SoLuong], [GiaNhap]) VALUES (N'CTN0001   ', N'Thực phẩm khô', N'MN0001    ', 4, 45000000)
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [GoiHang], [MaNhap], [SoLuong], [GiaNhap]) VALUES (N'CTN0002   ', N'Trái cây', N'MN0002    ', 1, 12000000)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHang] [nchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[DonVi] [nchar](10) NOT NULL,
	[LoaiHang] [nvarchar](50) NOT NULL,
	[MaChiTietNhap] [nchar](10) NOT NULL,
	[GiaBan] [float] NOT NULL,
	[SoLuongHang] [bigint] NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonVi], [LoaiHang], [MaChiTietNhap], [GiaBan], [SoLuongHang]) VALUES 
(N'MH0000    ', N'Bánh Quy American Singature Mỹ 412g (trắng)', N'Hộp', N'Bánh', N'CTN0000   ', 220000, 50)
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonVi], [LoaiHang], [MaChiTietNhap], [GiaBan], [SoLuongHang]) VALUES
(N'MH0001    ', N'Bánh Gạo Bourbon Nhật Bản', N'Hộp', N'Bánh', N'CTN0000   ', 58000, 50)
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonVi], [LoaiHang], [MaChiTietNhap], [GiaBan], [SoLuongHang]) VALUES
(N'MH0002    ', N'Kẹo Ngậm Thảo Mộc Ricola Cranberry 100g (đỏ)', N'Bịch', N'Kẹo', N'CTN0000', 135000, 50)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTietHoaDon] [nchar](10) NOT NULL,
	[MaBanHang] [nchar](10) NOT NULL,
	[MaHang] [nchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [float] NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaChiTietHoaDon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  ForeignKey [FK_BanHangCombo_KhachHang1]    Script Date: 01/19/2021 11:46:41 ******/
ALTER TABLE [dbo].[BanHangCombo]  WITH CHECK ADD  CONSTRAINT [FK_BanHangCombo_KhachHang1] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BanHangCombo] CHECK CONSTRAINT [FK_BanHangCombo_KhachHang1]
GO
/****** Object:  ForeignKey [FK_BanHangCombo_NhanVien]    Script Date: 01/19/2021 11:46:41 ******/
ALTER TABLE [dbo].[BanHangCombo]  WITH CHECK ADD  CONSTRAINT [FK_BanHangCombo_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BanHangCombo] CHECK CONSTRAINT [FK_BanHangCombo_NhanVien]
GO
/****** Object:  ForeignKey [FK_ChiTietHoaDon_BanHangCombo1]    Script Date: 01/19/2021 11:46:42 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_BanHangCombo1] FOREIGN KEY([MaBanHang])
REFERENCES [dbo].[BanHangCombo] ([MaBanHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_BanHangCombo1]
GO
/****** Object:  ForeignKey [FK_ChiTietHoaDon_HangHoa1]    Script Date: 01/19/2021 11:46:42 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HangHoa1] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HangHoa1]
GO
/****** Object:  ForeignKey [FK_ChiTietNhapKho_NhapKho]    Script Date: 01/19/2021 11:46:42 ******/
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapKho_NhapKho] FOREIGN KEY([MaNhap])
REFERENCES [dbo].[NhapKho] ([MaNhap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietNhapKho] CHECK CONSTRAINT [FK_ChiTietNhapKho_NhapKho]
GO
/****** Object:  ForeignKey [FK_HangHoa_ChiTietNhapKho1]    Script Date: 01/19/2021 11:46:42 ******/
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_ChiTietNhapKho1] FOREIGN KEY([MaChiTietNhap])
REFERENCES [dbo].[ChiTietNhapKho] ([MaChiTietNhap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_ChiTietNhapKho1]
GO
/****** Object:  ForeignKey [FK_NhapKho_NhaCungCap1]    Script Date: 01/19/2021 11:46:42 ******/
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_NhaCungCap1] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_NhapKho_NhaCungCap1]
GO
/****** Object:  ForeignKey [FK_ChamCong_NhanVien]    Script Date: 01/19/2021 11:46:41 ******/
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_NhanVien]
GO

